<div class="col-1">
    Rating:
    <input type="number" max="5" min="1" placeholder="min">
    <input type="number" max="5" min="1" placeholder="max">

</div>
<% resList.forEach(res => { %>
    
    <div class="col-5 offset-md-2">
        
    <ul class="list-group rest-list" >
    
            <li class="list-group-item"><img src=<%=res.image_url%> class="rest-img">
                <%= res.name%>
                <%=res.rating%>
                <%=res.price%>
                <%=res.distance%>
            <li>
    </ul>
    </div>
<% }) %> 