<% resList.forEach(res => { %>
    <div class="rest-div">
        <%= res.name%>
        <br>
        <img src=<%=res.image_url%>>
        <br>
        <%=res.rating%>
        <br>
        <%=res.price%>
        <br>
        <%=res.distance%>
    </div>
<% }) %> 