<div class="col-1">
    <div>
        <form action="/restaurants" method="POST">
            <label for="price">Price</label>
            <input type="number" id="price" name="price" class="search-bar">
            <input name="reqType" value="priceFilter" type="hidden">
            <button type="submit" class="search-btn">&#x1F50E;&#xFE0E;</button>
        </form>
    </div>
    <div>
        <form action="/restaurants" method="POST">
            <label>Rating</label>
            <br>
            <label for="ratingLow">Low</label>
            <input type="number" id="ratingLow" name="ratingLow" class="search-bar">
            <input name="reqType" value="ratingFilter" type="hidden">
            <button type="submit" class="search-btn">&#x1F50E;&#xFE0E;</button>
        </form>
    </div>

</div>
<% resList.forEach(res => { %>
    
    <div class="col-5 offset-md-2 ">
        
    <ul class="list-group rest-list" >
    
            <li class="list-group-item lst border-2 ">
                <img src=<%=res.image_url%> class="rest-img">
                <span class="rest-name rest-detail">
                    <%= res.name%>
                </span>
                <br>
                <span class="rest-rating rest-datail">
                    Rating: &nbsp;<%=res.rating%>&#11088;
                </span>
                <br>
                <span class="rest-price rest-detail">
                    Price: &nbsp;<%=res.price%>
                </span>
                <br>
                <span class="rest-distance rest-detail">
                    Distance: &nbsp;<%=res.distance%>
                </span>
                
                    
            <li>
    </ul>
    </div>
<% }) %> 