<div class="col-1">
    <div>
        <form action="/restaurants" method="POST">
            <label for="price">Price</label>
            <input type="number" id="price" name="price" class="search-bar">
            <input name="reqType" value="priceFilter" type="hidden">
            <button type="submit" class="search-btn">&#x1F50E;&#xFE0E;</button>
        </form>
    </div>



    <div class="price">
        <div class="checkbox-title">Rating:</div>
        <div class="checkbox">
            <input type="checkbox" id="one-star">
            <label for="one-star" class="checkbox-label star">&#11088;</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="two-star">
            <label for="two-star" class="checkbox-label star">&#11088;&#11088;</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="three-star">
            <label for="three-star" class="checkbox-label star">&#11088;&#11088;&#11088;</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="four-star">
            <label for="four-star" class="checkbox-label star">&#11088;&#11088;&#11088;&#11088;</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="five-star">
            <label for="five-star" class="checkbox-label star">&#11088;&#11088;&#11088;&#11088;&#11088;</label>
        </div>
    </div>




    <div class="price">
        <div class="checkbox-title">Price:</div>
        <div class="checkbox">
            <input type="checkbox" id="$">
            <label for="$" class="checkbox-label">$</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="$$">
            <label for="$$" class="checkbox-label">$$</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="$$$">
            <label for="$$$" class="checkbox-label">$$$</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="$$$$">
            <label for="$$$$" class="checkbox-label">$$$$</label>
        </div>
    </div>
    
    
    <div>
        <form action="/restaurants" method="POST">
            <label>Rating</label>
            <br>
            <label for="ratingLow">Low</label>
            <input type="number" id="ratingLow" name="ratingLow" class="search-bar">
            <input name="reqType" value="ratingFilter" type="hidden">
            <button type="submit" class="search-btn">&#x1F50E;&#xFE0E;</button>
        </form>
    </div>


</div>
<% resList.forEach(res => { %>
    
    <div class="col-5 offset-md-2 ">
        
    <ul class="list-group rest-list" >
    
            <li class="list-group-item lst border-2 ">
                <img src=<%=res.image_url%> class="rest-img">
                <span class="rest-name rest-detail">
                    <%= res.name%>
                </span>
                <br>
                <span class="rest-rating rest-datail">
                    Rating: &nbsp;<%=res.rating%>&#11088;
                </span>
                <br>
                <span class="rest-price rest-detail">
                    Price: &nbsp;<%=res.price%>
                </span>
                <br>
                <span class="rest-distance rest-detail">
                    Distance: &nbsp;<%=res.distance%>
                </span>
                
                    
            <li>
    </ul>
    </div>
<% }) %> 